<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="/Content/main.css"/>
  </head>
  <body>
    <div id="container">
      <fieldset title="Login">
        <legend>Login:</legend>
        <a href="/authentication/redirect/WindowsLive">Windows Live</a>
      </fieldset>
    </div>
  </body>
</html>