@{
  Layout = "/Views/Shared/_Layout.cshtml";
}

<div id="container">
  <fieldset title="Login">
    <legend>Login:</legend>
    <a href="/Home/RedirectToAuthenticate?providerKey=Twitter"><img src="/Content/twitter_32.png"/></a>
    <a href="/Home/RedirectToAuthenticate?providerKey=Facebook"><img src="/Content/facebook_32.png" /></a>
    <a href="/Home/RedirectToAuthenticate?providerKey=Google"><img src="/Content/google_32.png"/></a>
  </fieldset>
</div>

<br/>
<br/>

<div id="container">
  <fieldset title="Login's that throw exceptions">
    <legend>Login that throws exceptions:</legend>
    <a href="/Home/RedirectToAuthenticateWithError?providerKey=Twitter"><img src="/Content/twitter_32.png"/></a>
    <a href="/Home/RedirectToAuthenticateWithError?providerKey=Facebook"><img src="/Content/facebook_32.png" /></a>
    <a href="/Home/RedirectToAuthenticateWithError?providerKey=Google"><img src="/Content/google_32.png"/></a>
  </fieldset>
</div>