/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*Styling*/

body {
    background-color: #353535;
    color: #f8f8f8;
}


#container {
    margin: 100px auto 0 auto;
    width: 300px;
}


fieldset {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #8C8C8C;
    border-radius: 5px;
    color: #f8f8f8;
    font-size: 90%;
    margin: 0 auto;
    text-align: center;
    width: 150px;
}

legend {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #8C8C8C;
    border: solid 1px black;
    border-radius: 5px;
    color: #f8f8f8;
    padding: 6px;
}

#usercontainer {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #8C8C8C;
    border-radius: 5px;
    margin: 100px auto 0 auto;
    width: 800px;
}

h1 {
    font-size: 1.3em;
    padding-bottom: 8px;
}

h2 {
    font-size: 1.1em;
    padding-bottom: 8px;
}

a { color: #B04089; }