@{
  Layout = "/Views/Shared/_Layout.cshtml";
}

<div id="container">
  <fieldset title="Login">
    <legend>Login:</legend>
    <a href="/WorldDominationAuthentication/RedirectToProvider?providerKey=Twitter"><img src="/Content/twitter_32.png"/></a>
    <a href="/WorldDominationAuthentication/RedirectToProvider?providerKey=Facebook"><img src="/Content/facebook_32.png" /></a>
    <a href="/WorldDominationAuthentication/RedirectToProvider?providerKey=Google"><img src="/Content/google_32.png"/></a>
  </fieldset>
</div>