<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="authenticationProviders"
             type="WorldDomination.Web.Authentication.Config.ProviderConfiguration, WorldDomination.Web.Authentication" />
  </configSections>

  <!-- Missing the CallbackUri property, which is required -->
  <authenticationProviders>
    <providers>
      <add name="Facebook" badKey="testKey" secret="testSecret" />
    </providers>
  </authenticationProviders>

</configuration>