﻿@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<System.Collections.Generic.IEnumerable<dynamic>>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Login Page</title>
    </head>
    <body>
        <div>
            <a href="/RedirectToAuthenticate/Twitter">Login Using Twitter</a>
        </div>
    </body>
</html>