<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="/Content/main.css"/>
  </head>
  <body>
    <div id="container">
      <fieldset title="Login">
        <legend>OpenId Identifier:</legend>
          <form action="/authentication/redirect/openid">
              <input type="text" value="http://purekrome.myopenid.net" /><input type="submit" value="Login"/>
          </form>
      </fieldset>
    </div>
  </body>
</html>