@{
  Layout = "/Views/Shared/_Layout.cshtml";
}

<div id="container">
  <fieldset title="Login">
    <legend>Login:</legend>
    <a href="/authentication/redirect/twitter"><img src="/Content/twitter_32.png"/></a>
    <a href="/authentication/redirect/facebook"><img src="/Content/facebook_32.png" /></a>
    <a href="/authentication/redirect/google"><img src="/Content/google_32.png"/></a>
  </fieldset>
</div>