<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CuttingEdge.Conditions" version="1.2.0.0" targetFramework="net45" />
  <package id="Nancy" version="0.15.3" targetFramework="net45" />
  <package id="Nancy.Hosting.Aspnet" version="0.15.3" targetFramework="net45" />
  <package id="Nancy.Viewengines.Razor" version="0.15.3" targetFramework="net45" />
  <package id="RestSharp" version="104.1" targetFramework="net45" />
</packages>