@model WorldDomination.Web.IntegrationTest.Models.AuthenticateCallbackViewModel

<h2>AuthenticateCallback</h2>


@if (Model.Exception != null)
{
    Html.DisplayFor(x => x.Exception);
}
else
{
    Html.DisplayFor(x => x.AuthenticatedClient);
}

<hr/>

@Html.ActionLink("Lets go back home.", "Index")