@model WorldDomination.Web.IntegrationTest.Models.AuthenticateCallbackViewModel

<h2>AuthenticateCallback</h2>


@if (Model.AuthenticatedClient != null)
{
    Html.DisplayForModel(Model.AuthenticatedClient);
}
else if (Model.Exception != null)
{
    Html.DisplayForModel(Model.Exception);
}

@Html.ActionLink("Lets go back home.", "Index")