@model WorldDomination.Web.IntegrationTest.Models.AuthenticateCallbackViewModel

<h2>AuthenticateCallback</h2>


@Html.DisplayFor(x => x.AuthenticatedClient)

<hr/>

@Html.ActionLink("Lets go back home.", "Index")