<!DOCTYPE html>

<html>
    <head>
        <title>Authentication Integration Tests.</title>
    </head>
    <body>
        <div>
            <ul>
                <li>@Html.ActionLink("Facebook", "FacebookAuthentication")</li>
                <li>@Html.ActionLink("Twitter", "TwitterAuthentication")</li>
            </ul>
        </div>
    </body>
</html>