<!DOCTYPE html>

<html>
    <head>
        <title>Authentication Integration Tests.</title>
    </head>
    <body>
        <div>
            <p>
                <ul>
                    <li>@Html.ActionLink("Facebook", "FacebookAuthentication")</li>

                </ul>

            </p>
        </div>
    </body>
</html>