<!DOCTYPE html>

<html>
    <head>
        <title>Authentication Integration Tests.</title>
    </head>
    <body>
        <div>
            <ul>
                <li>@Html.ActionLink("Facebook", "RedirectToAuthenticate", new {providerKey="Facebook"}, null)</li>
                <li>@Html.ActionLink("Twitter", "RedirectToAuthenticate", new {providerKey="Twitter"}, null)</li>
                <li>@Html.ActionLink("Google", "RedirectToAuthenticate", new {providerKey="Google"}, null)</li>
            </ul>
        </div>
    </body>
</html>