<!DOCTYPE html>
<html>
    <head>
        <title>Login Page</title>
        <link rel="stylesheet" type="text/css" href="/Content/main.css"/>
    </head>
    <body>
        <div id="container">
            <fieldset title="Login">
                <legend>Login:</legend>
                <a href="/authentication/redirect/Twitter"><img src="/Content/twitter_32.png"></img></a>
                <a href="/authentication/redirect/Facebook"><img src="/Content/facebook_32.png"></img></a>
                <a href="/authentication/redirect/Google"><img src="/Content/google_32.png"></img></a>
                <img src="/Content/myopenid_64.png" height="32" width="32"/>
            </fieldset>
            <form action="/authentication/redirect/openid" method="POST">
                Identifier: <input type="text" id="identifier" name="identifier" value="http://myopenid.com"/>
                <input type="submit" value="openid? k go."/>
            </form>
        </div>
        
        <script type="text/javascript"> </script>
    </body>
</html>