<!DOCTYPE html>
<html>
    <head>
        <title>Login Page</title>
        <link rel="stylesheet" type="text/css" href="/Content/main.css"/>
    </head>
    <body>
        <div id="container">
            <fieldset title="Login">
                <legend>Login:</legend>
                <img src="" alt="OpenId"/>
                <form action="/authentication/redirect/openid">
                    <input type="text" />
                </form>
            </fieldset>
        </div>
    </body>
</html>