<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CuttingEdge.Conditions" version="1.2.0.0" targetFramework="net40" />
  <package id="Nancy" version="0.12.1" targetFramework="net40" />
  <package id="Nancy.Hosting.Aspnet" version="0.12.1" targetFramework="net40" />
  <package id="Nancy.Viewengines.Razor" version="0.12.1" targetFramework="net40" />
</packages>